body.admin-menu {
  margin-top: 0px !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0; 
  background: #164362;
  font-family: Verdana;
}

body.cke_show_borders {
  background: #fff;				
}

table {
  border-collapse: separate;
}

#page {
  min-width: 1200px;
  min-height: 100%;
  height: 100%;
  color: #343331;
  text-align: center;
  background: #F0F5F9;  
}
p, td, li, ul, ol {
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, "Trebuchet MS", sans-serif;
  margin: 0;
}
h1 {
  color: #333;
  font-size: 18px;
  font-weight: normal;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
a:link {
  text-decoration: none;
  color: #2b5676;
}
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #2b5676;
}
a:hover, a:active {
  color: #2b5676;
}

/* Aligning field paragraph left, because it is defaulty justified and justification makes problem when urls are long. (#266) */
td.views-field-teaser > div > p {
  text-align: left;
}

.views-field a:hover {
  text-decoration: underline;
}

.urlicon {
  margin-right: 5px;
}

fieldset {
  border: 1px solid #ccc;
}
p {
  margin: 0 0 1.3em 0;
  padding: 10px;
  color: #333;
  text-align: justify;
  text-indent:10px;
  line-height: 120%;
  font-family: Verdana;
  font-size: 12px;
}
blockquote {
  border-left: 4px solid #69c;  /* LTR */
  padding: 0 15px;
  margin: 25px 100px 25px 50px; /* LTR */
  color: #696969;
  text-align: left; /* LTR */
  font-size: 1.2em;
  line-height: 1.3em;
  font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 1.2em;
  border: 1px solid #ddd;
}
.form-item {
  margin-top: 1em;
}

#search .form-item label {
  display:none;
  color: #000;
}
.item-list .title {
  color: #369;
  font-size: 0.85em;
}

/*
** Page layout blocks / IDs
*/
#banner {
  width: 100%;
  height: 92px;
  background: url('images/gora.jpg') center top repeat-x;
  text-align: center;
  border-collapse: separate;
}

#primary-menu {
  border-collapse: separate;
  margin: auto;
  font-family: Verdana;
  background: transparent url('images/banner.jpg') top center no-repeat;
  background-color: transparent;
  height: 92px;
  width: 1200px;
  text-align: left;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, "Trebuchet MS", sans-serif;
  border: none; 
}

#search-theme-form {
  float: left;
}

td#home a:hover img, td#home a:link img, td#home a:visited img {
  width: 250px;
  height: 50px;
  padding: 20px 10px 20px 80px;
}
.primary-links, .primary-links a:link, .primary-links a:visited {
  margin-top: 20px;
  color: #fefffa;
  padding: 5px;
}
.primary-links a:hover {
  color: #fdfdfd;
  background: #1d6b9b;
  border-radius: 5px;
  padding: 5px;
}

#primary-menu .primary-links {
  font-size: 16px;
  float: left;
 
}

#primary-menu p {
  color: #fdfdfd;
  padding: 9px 5px 0px 10px;
  margin-top: 10px;
  font-family:  "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,"Trebuchet MS",sans-serif;
  font-size: 14px; 
}

#primary-menu p a:link, #primary-menu p a:visited {
  padding: 4px 8px;
  color: #fdfdfd;
}

#primary-menu p a:hover {
  color: #fdfdfd;
  padding: 4px 8px;
}
  
#primary-menu .primary-links h1, #primary-menu .primary-links h2, #primary-menu .primary-links h3 {
  font-size: 2.3em;
  color: #369;
}

#home {
  background: transparent url('images/mlogo.png') center 20px no-repeat;
}
.secondary-links, .secondary-links a:link, .secondary-links a:visited {
  color: #fefffa;
  padding: 4px;
  text-align: left;
}

.thirdly-links, .thirdly-links a:link, .thirdly-links a:visited {
  color: #fefffa;
  padding: 4px;
  text-align: left;
}

.secondary-links a:hover {
  background: #1d6b9b;
  border-radius: 5px;
  color: #fdfdfd;
  padding: 4px;
}

.thirdly-links a:hover {
  background: #1d6b9b;
  border-radius: 5px;
  color: #fdfdfd;
  padding: 4px;
}

#secondary-menu .secondary-links {
  font-size: 0.85em;
}

ul.links li {
}

#navlist li {
  border-left: 1px solid #2e4d59; /* LTR */
}
#subnavlist li, ul.primary-links li, ul.secondary-links li {
  border-left: 1px solid #2e4d59; /* LTR */
}
#navlist li.first, #subnavlist li.first, ul.links li.first {
  border: none;
}
.tabs {
  margin: 15px 0;
}
.tabs ul.primary {
  border-collapse: collapse;
  padding: 5px 10px 4px 10px; /* LTR */
  white-space: normal;
  list-style: none;
  margin: 0;
  height: auto;
  line-height: 2.2em;
  border: 1px solid;
  border-color: #fff #69c #69c #fff;
  background-image: linear-gradient(bottom, rgb(209,209,209) 0%, rgb(237,237,237) 100%);
  background-image: -o-linear-gradient(bottom, rgb(209,209,209) 0%, rgb(237,237,237) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(209,209,209) 0%, rgb(237,237,237) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(209,209,209) 0%, rgb(237,237,237) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(209,209,209) 0%, rgb(237,237,237) 100%);
  border-radius: 5px;
}
.tabs ul.primary li {
  display: inline;
}
.tabs ul.primary li a {
  background-color: #fff;
  padding: 5px 10px;
  border-color: #69C;
  border-width: 1px;
  border-style: none solid solid none; /* LTR */
  border-radius: 3px;
  height: auto;
  margin-left: 0px;
  margin-right: 0px !important;  /* LTR */
  text-decoration: none;
  text-transform: lowercase;
  font-size: 0.9em;
  text-transform: capitalize;
}


.tabs ul.primary li.active a {
  background: #369 url(tabs-on.png) left top no-repeat; /* LTR */
  color: #fff;
}

.tabs ul.primary li.active:hover a,
.tabs ul.secondary li.active:hover a {
  box-shadow: none;
}

.tabs ul.primary li.active a,
.tabs ul.secondary li.active a {
  box-shadow: 1px 0px 1px #222 inset, -1px -0px 1px #aaa inset
}

.tabs ul.primary li a:hover {
  background-color: #fffaf0;
  color: #ff4500;
}
.tabs ul.secondary {
  border-collapse: collapse;
  padding: 10px 0;
  margin: 0;
  white-space: nowrap;
  width: 100%;
  list-style: none;
  height: auto;
  line-height: 2.2em;
  border: 1px solid;
  border-color: #fff #69c #69c #fff;
  background-image: linear-gradient(bottom, rgb(156,200,224) 0%, rgb(204,235,255) 100%);
  background-image: -o-linear-gradient(bottom, rgb(156,200,224) 0%, rgb(204,235,255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(156,200,224) 0%, rgb(204,235,255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(156,200,224) 0%, rgb(204,235,255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(156,200,224) 0%, rgb(204,235,255) 100%);
  border-radius: 5px;
}
.tabs ul.secondary li {
  display: inline;
  height: auto;
  padding: 0 0 0 10px; /* LTR */
  text-decoration: none;
  border-right: none; /* LTR */
}
.tabs ul.secondary li a {
  background-color: #fff;
  padding: 5px 10px;
  border-color: #69C;
  border-width: 1px;
  border-style: none solid solid none; /* LTR */
  border-radius: 3px;
  height: auto;
  margin-left: 0px;
  margin-right: 0px !important;  /* LTR */
  text-decoration: none;
  text-transform: lowercase;
  font-size: 0.9em;
  text-transform: capitalize;
}
.tabs ul.secondary li a.active {
  color: #fff;
  background: url("tabs-on.png") no-repeat scroll left top #336699
}
.tabs ul.secondary li a:hover {
  color: #FF4500;
  background: #fff;
}
#content {
  background-color: #f0f5f9;
}
#contentstart {
  background-color: #f0f5f9;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right; /* LTR */
  vertical-align: middle;
}
#search .form-text {
  font-size: 0.85em;
  margin: 0.4em;
  color: #333;
  background-color: #fdfdfd;
  float: left;
}
 
#search .form-submit {
  display: block;
  float: left;
  width: 41px;
  height: 27px;
  margin: 0.2em;
  background: transparent url('go.png') center center no-repeat;
  border: none;
}

#search .form-text {
  width: 9em;
  border: 1px inset #666;
  background-color: #fff;
  border-radius: 5px;
  padding: 3px;
}

#site-info {
  max-width: 10px;
  color: #fdfdfd;
  background: #fff;
  font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
}
.site-name {
  font-size: 1.2em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #ff8c00;
  text-decoration: none;
}
.site-slogan {
  font-size: 0.8em;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 30px 35px 50px 35px;
  position: relative;
  text-align: left;
}
#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
.nav {
  padding: 0;
  margin: 0;
}
#sidebar-left, #sidebar-right {
  font-size: 0.75em;
  font-family: Verdana;
  width: 175px;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 25px 10px 75px 10px;
  vertical-align: top;
  border-collapse: separate;
}

#sidebar-left li, #sidebar-right li {
  font-size: 1em;
  list-style-image: url('arrow-next.png');
}
.node .content {
  text-align: left; /* LTR */
  font-size: 0.85em;
  line-height: 1.3;
}

.comment {
	font-size: 12px;
	margin-top: 2px;
}

.comment .user-info-area {
	text-align: left;
}

.comment .reply {
	padding: 10px 0px;
}

.comment .image {
	min-width: 50px;
	min-height: 50px;
	margin: 4px 10px;
	border-radius: 5px;
}

.comment table {
	width: 100%;
}

.comment td.image-area {
	width: 70px;
}

.comment td.user-info-area {
	width: 170px;
	padding-left: 10px;
}

.comment td.text-area {
	border-left: 1px dotted #aaa;
	padding-left: 10px;
}

.comment .clinks {
	padding: 4px 0px;
	border-radius: 5px;
	color: #d63;
	text-align: right;
}

.comment .clinks a {
	margin-left: 5px;
}

.comment .reply a	 {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #8C9CBF;
    background-image: -moz-linear-gradient(center top , #8C9CBF 0%, #546A9E 50%, #36518F 50%, #3D5691 100%);
    border-color: #172D6E #172D6E #0E1D45;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 0 #B1B9CB inset;
    color: #FFFFFF;
    font: 15px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #000F4D;
    width: 150px;
}

.comment .reply a:hover {
    background-color: #7F8DAD;
    background-image: -moz-linear-gradient(center top , #7F8DAD 0%, #4A5E8C 50%, #2F477D 50%, #364C80 100%);
    cursor: pointer;
}

.comment .content {
  text-align: left; /* LTR */
  font-size: 0.85em;
  line-height: 1.3;
}
#footer-message {
  font-size: 0.75em;
  text-align: left;
  color: #fefffa;
  margin-left: 40px;
}
#footer-menu {
  margin-top: 20px;
  border-collapse: separate;
}
#footer-menu td {
  padding: 5px;
  font-size: 0.75em;
}

#footer-menu .primary-links h1, #footer-menu .primary-links h2, #footer-menu .primary-links h3 {
  font-size: 1.3em;
  color: #fdfdfd;
}

#footer-menu .primary-links h1, #footer-menu .primary-links h2, #footer-menu .primary-links h3 {
  font-size: 1.3em;
  color: #fdfdfd;
} 

.wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto 0;
  margin-bottom: -93px;
}

#footer,
.push {
  margin-bottom: -80px;
  clear: both;
}

#footer {
  width: 100%;
}

#footer table {
  margin: 0px auto 0 auto;
  border: 0px; border: none; border-collapse: separate;
}
#footer_container {
  background: url('images/footer2.jpg') no-repeat top center;
  padding: 40px 0 16px 0;
}

#footer {
  background: #164362 url('images/footer.jpg') repeat-x top;
  border: none;
  border-collapse: separate;
  margin: auto;
}

#footer .content {
  padding: 0px;
  margin: 4px 0px 0px 0px;
}

#footer #copyright {
  padding-top: 8px;
  color: #ddd;
}

#footer #footer_menu .block .content .menu {
  margin: 0 auto;
}

#footer .block {
  margin-bottom: 0;
}

#footer .content a {
  color: #fff;
}
#footer .title {
  display: none;
}

#footer ul {
  padding: 0;
}

#footer li {
  text-align: left;
  display: inline;
  list-style: none;
  margin: 5px 3px 5px 8px;
  background: url('bullet-white.png') left 0.8px no-repeat;'
}

#footer li a {
  margin-left: 20px;
}

footer-menu-list {
	
}

#flogo {
  /* Removed. (#253) */
  vertical-align: bottom;
  padding-bottom: 32px;
}

#main .block .title h3 {
 text-transform: none;
}

#footer-menu-list .block .title {
 display: none;
}

#footer-menu-list a:link, #footer-menu-list a:visited, #footer-menu-list a:active{
  font-size: 13px;
  font-family: Arial, "Trebuchet MS", sans-serif;
  text-align: left;
  color: #fefffa;
  padding: 4px;
}

#footer-menu-list a:hover {
  color: #fdfdfd;
  background: #1d6b9b;
  border-radius: 5px;
  padding: 4px;
}

li.leaf {
  list-style-type: disc;
  list-style-image: none;
  color: #fdfdfd;
}
/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
#content .title, #content .title a, #content .title a:hover, #content .title a:visited,
 #content .title a:link, #content .title a:active {
  color: #333;
  border-bottom: 1px solid #b3b3b3;
}

.content h1 {
  color: #369;
  font-size: 1.9em;
}
.content h2 {
  color: #ab1017;
  font-size: 1.7em;
}
.content h3 {
  color: #333;
  font-weight: bold;
}
.content h4 {
  color: #8be;
  font-size: 1.3em;
}
.content h5 {
  color: #96c6f6;
  font-size: 1.15em;
}
.submitted {
  color: #999;
  font-size: 0.79em;
}
div.links {
  color: #ff8c00;
}

.box {
  padding: 0 0 1.5em 0;
}
.box {
  padding: 0;
  margin: 0;
}
.box h2 {
  font-size: 9px;
}
.block .title h3 {
  color: #666465;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 10px 5px 0px 0px; /* LTR */
  margin-bottom: .25em;
  text-transform: uppercase;
}
.block .content {
  padding: 5px;
  font-size: 12px;
}
.block {
  margin-bottom: 1.5em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2.5em 0;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.83em;
  padding: 1.5em;
}
.node .picture {
  border: 1px solid #fff;
  float: right; /* LTR */
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title {
  font-size: 1em;
  padding: 10px 0 12px 19px; /* LTR */
  background: transparent url(icon-comment.png) left center no-repeat; /* LTR */
}
.comment .new {
  font-weight: bold;
  font-size: 1em;
  margin-left: 2px; /* LTR */
  color: red;
}
.comment .picture {
  border: 1px solid #fff;
  float: right; /* LTR */
  margin: 10px;
}
div.links {
  font-size: 0.75em;
}
div.links .prev, div.links .next, div.links .up {
  font-size: 1.15em;
}
.titles .prev, .titles .next {
  font-size: 0.85em;
  font-weight: bold;
  color: #444;
}
.hide {
  display: none
}
.nav .links .next a:link {
  padding: 17px 17px 17px 0; /* LTR */
  background: transparent url(arrow-next.png) right center no-repeat; /* LTR */
}
.nav .links .next a:visited {
  padding: 17px 17px 17px 0; /* LTR */
  background: transparent url(arrow-next-visited.png) right center no-repeat; /* LTR */
}
.nav .links .next a:hover {
  padding: 17px 17px 17px 0; /* LTR */
  background: transparent url(arrow-next-hover.png) right center no-repeat; /* LTR */
}
.nav .links .prev a:link {
  padding: 17px 0 17px 17px; /* LTR */
  background: transparent url(arrow-prev.png) left center no-repeat; /* LTR */
}
.nav .links .prev a:visited {
  padding: 17px 0 17px 17px; /* LTR */
  background: transparent url(arrow-prev-visited.png) left center no-repeat; /* LTR */
}
.nav .links .prev a:hover {
  padding: 17px 0 17px 17px; /* LTR */
  background: transparent url(arrow-prev-hover.png) left center no-repeat; /* LTR */
}
.nav .links .up a:link {
  padding: 11px 0 17px 0;
  background: transparent url(arrow-up.png) center top no-repeat;
}
.nav .links .up a:visited {
  padding: 11px 0 17px 0;
  background: transparent url(arrow-up-visited.png) center top no-repeat;
}
.nav .links .up a:hover {
  padding: 11px 0 17px 0;
  background: transparent url(arrow-up-hover.png) center top no-repeat;
}

/*
** Administration page styles
*/
div.admin-panel .description {
  color: #999;
}
div.admin-panel h3 {
  background-color: #369;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}
div.admin-panel .body {
  background: #f0f5f9;
}

/*
** Module specific styles
*/
.content {
  font-size: 12px;
  font-family: Verdana;
}
.content .active {
  color: #369;
}
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .source {
  color: #999;
  font-style: italic;
  font-size: 0.85em;
}
#aggregator .title {
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#tracker th {
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd; /* LTR */
  border-left: 1px solid #fafafa; /* LTR */
}
#tracker th img {
  float: right; /* LTR */
}
#tracker tr.even, #tracker tr.odd {
  background-color: #fff;
}
#tracker td {
  vertical-align: top;
  padding: 1em 1em 1em 0; /* LTR */
  border-bottom: 1px solid #bbb;
}

.block-forum h3 {
  margin-bottom: .5em;
}

.view-content .calendar-calendar .date-prev, .view-content .calendar-calendar .date-next  {
	background: none;
}

.calendar-calendar tr,
.calendar-calendar td.empty,
.calendar-calendar table.mini td.empty {
	background: none;
}


.calendar-calendar .month-view .full td.single-day .calendar-empty,
.calendar-calendar .month-view .full td.single-day.empty,
.calendar-calendar .month-view .full td.date-box.empty {
  color: #bbb;	
}

.calendar-calendar td {
  border: 1px dashed #999;				
}

.month-view td.week {
	border: 0px !important;
	vertical-align: middle;
}

.month-view td.week div.inner {
	margin-right: 10px;
	margin-top: 20px; 
}




.view-content .calendar-calendar .date-prev a, .view-content .calendar-calendar .date-next a {
    color: #ab1017;
    font-size: 13px;
    font-weight: bold;
}

.calendar-calendar div.date-nav a, .calendar-calendar div.date-nav h3 {
    color: #2b5676;
    text-decoration: none;
    font-size: 0.85em;
    text-transform: uppercase;
}

.author-user-flag {
  padding-left: 1.63em;
}



/* view-filters: BEGIN */

  .view-filters .views-exposed-widget label {
    font-family: Century Gothic, Palatino Linotype, Helvetica, Arial;
    color: #3a6c87;
    display: inline;
  }
  
  .view-filters .edit-in-wrapper,
  .view-filters .views-widget {
    display: inline-block;
  }
  
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0px;
  }

/* view-filters: END */



/* views-table: BEGIN */

  table.views-table {
    width: 100%;
    margin: 20px 0 15px 0;
    color: #3a6c87;
    border-collapse: collapse;
    border: 0px;
  }
  
  table.views-table th,
  table.views-table td {
    border: 0;
    padding: 6px 8px;
  }
  
  table.views-table th {
    color: #555;
    border-bottom: 1px solid #aaa; 
  }

  table.views-table tr {
    background: none;
    border: 0;
  }
  
  .views-exposed-form .form-text {
    max-width: 120px;
    margin-right: 15px;
  }
  
/* views-table: END */



  .view-marketplace {
    font-family: Century Gothic, Palatino Linotype, Helvetica, Arial;
    border-radius: 6px;
  }
	
	.view-marketplace .view-filters {
		margin-bottom: 30px;
	}
  
  .user-profile-nodes-view .view-marketplace .image {
    min-height: 50px;
    min-width: 50px;
  }
  
  .user-profile-nodes-view .view-marketplace .view-marketplace-row {
    padding: 5px;
    background-color: #e3e3e3;
    border-radius: 6px;
    border: 1px solid #fff;
  }
  
  .user-profile-nodes-view .view-marketplace .description {
  }
  
  .user-profile-nodes-view .view-marketplace .left-column {
    width: 63px;
  }
  
  
  .user-profile-nodes-view .view-marketplace .title {
    font-size: 1.0em;
  }
  
  .user-profile-nodes-view .view-marketplace .user a {
    font-size: 0.9em;
  }
  
  .user-profile-nodes-view .view-marketplace .price {
    font-size: 1.2em;
  }
  
  .user-profile-nodes-view .view-marketplace .view-marketplace-row {
    min-height: 74px;
  }
  

  .view-marketplace .description > p {
    padding: 3px;
  }
  
  .view-marketplace table {
    width: 100%;
	}
	
	.view-marketplace .image {
    padding: 2px;
    margin: 3px;
    display: inline-block;
		border: 1px solid transparent;
  }
  
  .view-marketplace .image:hover {
    border: 1px solid #888;
    background-color: #fff;
    padding: 3px;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);
  }

  
  .view-marketplace-row {
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 4px 4px;
    min-height: 110px;
  }
  
  .view-marketplace .image {
    min-width: 100px;
    min-height: 100px;
  }
  
  .view-marketplace .image img {
    border-radius: 4px;
  }
  
  .view-marketplace .left-column,
  .view-marketplace .middle-column,
  .view-marketplace .right-column {
    vertical-align: top;
  }
  
  .view-marketplace .left-column {
    width: 107px;
  }
  
  .view-marketplace .right-column {
    width: 100px;
		text-align: right;
		padding-right: 20px;
  }

  .view-marketplace .location {
    font-size: 1.0em;
		font-weight: normal;
  }
  
  .view-marketplace .title,
  .view-marketplace .user {
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 2px;
  }
  
  .view-marketplace a {
    color: #225776 !important;
    border-bottom: none !important;
	}
	
	.view-marketplace a:hover {
    text-decoration: underline;
	}
	
	.view-marketplace .datetime {
    width: 147px;
	}

	.view-marketplace .price {
    width: 147px;
		font-size: 1.4em;
		padding-top: 17px;
		color: #225776;
	}



/* featured-events: BEGIN */

  .featured-events {
    font-family: Century Gothic, Palatino Linotype, Helvetica, Arial;
    border-radius: 6px;
  }
  
  .featured-events .description > p {
    padding: 3px;
  }
  
  .featured-events table {
    width: 100%;
  }
  
  .featured-events-row {
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 4px 4px;
    min-height: 110px;
    background: #d5ead9;
  }
  
  .featured-events .image {
    width: 100px;
    max-height: 100px;
    padding: 2px;
    margin-right: 5px;
    border-radius: 4px;
  }
  
  .featured-events .image img {
    border-radius: 4px;
  }
  
  .featured-events .left-column,
  .featured-events .middle-column,
  .featured-events .right-column {
    vertical-align: top;
  }
  
  .featured-events .left-column {
    width: 107px;
  }
  
  .featured-events .right-column {
    /*width: 340px;*/
		width: 155px;
  }

  .featured-events .location {
    font-size: 1.1em;
  }
  
  .featured-events .title,
  .featured-events .user {
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 2px;
  }
  
  .featured-events a {
    color: #225776 !important;
    border-bottom: none !important;
	}
	
	.featured-events a:hover {
    text-decoration: underline;
	}
	
	.featured-events .datetime {
    width: 147px;
	}
	
	.background-x,
	td.multi-day .inner .view-field a	{
		color: #fff !important;
		text-shadow: 1px 1px 2px #000;
	}
	
	.background-x a {
		color: #fff !important;
	}
	
	 
	
	.background-0 a {  }
	.background-1 a {  }
	.background-2 a {  }
	.background-3 a {  }
	.background-4 a {  } 
	
	.calendar-calendar .cutoff {
	}
	
	.view-label-node-data-field-event-date-field-event-date-value {
    display: none;
	}
	
	.calendar-calendar .continues {
    background: none !important;
	}
	
	.multi-day div.calendar.monthview {
    padding: 0 !important;
    margin: 0 !important;
	}
	
	.background-0,
	.background-1,
	.background-2,
	.background-3,
	.background-4 {
    background-image: url('images/events-backgrounds.png') !important;
    background-repeat: repeat-x;
	}

  .background-m0,
  .background-m1,
  .background-m2,
  .background-m3,
  .background-m4 {
    background-image: url('images/events-backgrounds-m.png') !important;
    background-repeat: repeat-x;
    color: #000 !important;
  }

  .background-0 { background-position: left 0; }
  .background-1 { background-position: left -200px; }
  .background-2 { background-position: left -400px; }
  .background-3 { background-position: left -600px; }
  .background-4 { background-position: left -800px; }
  
  .background-m0 { background-position: left 0; }
  .background-m1 { background-position: left -50px; }
  .background-m2 { background-position: left -100px; }
  .background-m3 { background-position: left -150px; }
  .background-m4 { background-position: left -200px; }
  
  .calendar-rounded-m {
    border-radius: 6px;
  }
  
  .month-view .mini {
  }
  
  .month-view,
  .month-view h3 {
    font-family: Century Gothic, Palatino Linotype, Helvetica, Arial;
  }
  
  .month-view .mini th {
    font-size: 0.9em;
  }
  
  .month-view .mini td.has-events {
    background-color: #def;
    font-weight: bold;
    border: 1px solid #bbb !important;
  }
  
  .year-view >table >tbody >tr >td {
    padding: 6px !important;
  }
  
  .month-view .mini td.has-events a {
    text-decoration: none !important;
  }
  
  .month-view .mini td {
    text-align: center;
  }
  
  .month-view .mini thead tr {
    background-color: #ddd;
  }
  
  .month-view .mini {
    border: 1px solid #ddd !important;
  }
  
  .month-view .mini td {
    padding: 6px 6px !important;
  }
  
  #sidebar-right .month-view .mini td {
    padding: 2px 6px !important;
  }
  
  
  .month-view .today {
    background-color: #ffa !important;
    font-weight: bold !important;
  }

  .featured-events .datetime {
    font-weight: bold;
    font-size: 1.2em;
  }
	
	.featured-events .datetime .date {
	}
	
	.featured-events .reservations {
	 padding-left: 16px;
	}
	
	.featured-events .reservations .available,
	.featured-events .reservations .occupied {
    font-size: 1.2em;
    font-weight: bold;
	}
	
  .featured-events .reservations .available {
    color: #292;
  }
  
  .featured-events .reservations .occupied {
    color: #229;
  }

	.featured-events .price .currency,
	.featured-events .price .amount {
    font-size: 1.8em;
	}
  
  .featured-events .price .currency {
    color: #888;
  }
  
  .featured-events .price .amount {
    color: #225776;
    font-weight: bold;
  }

/* featured-events: END */




/* community view: BEGIN */

  .community-view h2 {
    margin-top: 10px;
    font-size: 1.3em;
    margin-bottom: 4px;
  }
  
  .community-view .views-table {
    margin-bottom: 36px;
  }

  .community-view,
  .community-view h2 {
    font-family: Century Gothic, Palatino Linotype, Helvetica, Arial;
  }
  
  .community-view table {
    margin: 0 auto;
  }
  
  .community-view td.active {
    background-color: transparent !important;
  }
  
  .community-view .buttons {
    padding: 0px 15px 15px 15px;
  }
  
  .community-view .button {
    margin: 0 auto;
    background-repeat: repeat-x;
    padding: 10px 25px;
    margin: 0px 30px;
    border-radius: 14px;
  }
  
  .community-view .button:hover {
    background-color: #adf;    
    background-image: url('images/community-button-background-hover.png');
    cursor: pointer;
  }
  
  .community-view .button:hover .title {
    color: #fff !important;
    text-shadow: -0px -1px 1px #000;
  }
  
  .community-view .button .icon {
    width: 130px;
    height: 110px;
    margin: 0 auto;
  }
  
  .community-view .button .title {
    border: 0px !important;
    font-size: 2.5em;
    text-shadow: -0px -1px 0px #eee;
  }

  .community-view .button.groups .icon {
    background-image: url('community-group.png');
    background-repeat: no-repeat;
  }
  
  .community-view .button.forums .icon {
    background-image: url('community-forum.png');
    background-repeat: no-repeat;
  }

/* community view: END */






  .recent-activity-row {
    padding: 4px 8px;
    margin-bottom: 3px;
    padding-bottom: 5px;
    font-family: Century Gothic, Palatino Linotype, Helvetica, Arial;
    border-bottom: 1px solid #ddd;
  }
  
  .recent-activity-row a {
    color: #336699 !important;
    text-decoration: none;
    border-bottom: 0 !important;
  }
  
  .recent-activity-row a:hover {
    text-decoration: underline;
  }
  
  .recent-activity-row .time-elapsed {
    font-size: 0.9em;
    border-bottom: 1px solid #eee;
    text-align: left;
  }

  .recent-activity-row .message {
    font-size: 0.95em;
    width: 140px;
    text-align: left;
    font-weight: bold;
  }



/* #forum: BEGIN */

  #forum,
  table.views-table {
    font-family: Century Gothic, Palatino Linotype, Helvetica, Arial;
  }
  
  #forum table {
    width: 100%;
    margin: 20px 0 15px 0;
    color: #3a6c87;
    border-collapse: separate;
  }
  
  #forum th {
    color: #555;
    border-bottom: 1px solid #aaa; 
  }
  
  #forum th,
  #forum td {
    padding: 6px 8px;
  }


  #forum tr.index-0 td {
    padding: 12px 8px 4px 8px;
  }
  
  #forum td {
    vertical-align: top;
    height: 40px;
  }
  
  #forum table tr td {
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
  }
  
  #forum td a {
    border-bottom: none !important;
  }
  
  #forum .links {
    margin-top: 15px;
  }
  
  #forum .links .search span {
  	font-weight: bold;
  	margin-right: 0px;
  	color: #336699;
  }
  
  .forums-search {
  }
  
  td.forums-search-post-body {
  	width: 300px;
  	height: 4em;
  	
  }
  
  #content .panel-pane input[type=submit],
  #content .panel-pane input[type=button] {
    border: 1px outset #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    font-size: 13px;
    padding: 4px 20px;
  }
  
  #content input[type=submit]:hover,
  #content input[type=button]:hover {
    background-color: #fff;
    cursor: pointer;
  }

  #forum .links .search input[type=text],
  #forum .links .search input[type=submit],
  .views-exposed-widget input,
  .views-exposed-widget select {
    background: transparent;
    border: 2px solid #336699;
    border-radius: 7px 7px 7px 7px;
    font-size: 0.95em;
    padding: 5px 7px;
    color: #239;
  }
  
  #forum .links .search input[type=submit]:hover,
  #forum .links .search input[type=submit]:focus,
  .views-exposed-widget input:hover,
  .views-exposed-widget input:focus,
  .views-exposed-widget select:hover,
  .views-exposed-widget select:focus {
	background: #336699;
	color: #fff;
	cursor: pointer;
  }
  
  
  #forum .links a {
    border: 2px solid #336699;
    border-radius: 7px 7px 7px 7px;
    font-size: 0.95em;
    padding: 5px 12px;
    text-transform: lowercase;
    color: #239;
  }
  
  #forum .links a:hover {
    background: #336699;
    color: #fff;
    font-weight: normal;
  }
  

  #forum tr.index-0 td {
    height: 48px;
  }
  
  #forum td.forum .name a,
  #forum td.container .name a {
    padding: 2px 5px;
    border-radius: 5px;
    margin-top: 2px;
  }
  
  #forum div.description {
    font-size: 0.7em;
    margin: 0px 0px 0px 10px;
    color: #333;
    font-style: italic;
  }
  
  
  
  #forum table tr:hover td,
  table.views-table tr:hover td {
    background-color: #ddd !important;
  }
  

  #forum td.forum .name a:hover,
  #forum td.container .name a:hover {
    text-decoration: underline;
  }
  
  #forum tr.even,
  #forum tr.odd {
    background: none;
    border: none;
  }
  
  #forum thead .th-topics,
  #forum thead .th-posts {
    text-align: center;
  }
  
  #forum td.last-reply,
  #forum td.created {
    font-size: 0.8em !important;
    width: 180px;
  }
  
  #forum td.created {
    width: 200px;
  }
  
  #forum thead .th-topics,
  #forum thead .th-posts,
  #forum td.replies {
    width: 100px;
  }

  #forum td.last-reply a {
    font-weight: bold;
  }
  
  #forum td.forum,
  #forum td.container {
    font-size: 1.1em;
    padding-left: 8px !important;
  }
  
  #forum tr td.forum {
    background: none;
  }
  
  /* Topic list */
  
  #forum td.icon,
  #forum .forum-topics thead th:first-child {
    display: none;
  }
  
  #forum .forum-topics thead th:nth-child(3) {
    text-align: center;
  }
  

/* #forum: END */


  .login-box {
    padding-top: 21px
  }

  .profile-menu-container {
    margin: 0; padding: 0;
    font-size: 0.9em !important;
    border: 0px;
    border-radius: 4px;
    background: url('images/profile-menu-dropdown-background.png') repeat-x #135785;
  }

  .profile-menu-container .username {
    color: #eee;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 3px 10px;
  }
  
  .profile-menu-container ul.menu {
    margin: 0px;
    padding: 0px;
  }
  
  .profile-menu-container ul.menu li {
    list-style-type: none;
  }
  
  .profile-menu-container .items .separator {
    height: 1px;
    border-bottom: 1px solid #246;
    margin: 5px 0;
  }
  
  .profile-menu-container a {
    color: #fff !important;
    text-decoration: none;
  }
  
  .profile-menu-container a:hover {
    text-decoration: underline;
  }
  
  .profile-menu-container .username {
    background: url('images/profile-menu-username-background.png') repeat-x #135785;
    height: 24px;
    text-shadow: 0px 1px 0px #000;
  }
  
  .profile-menu-container .username span.role {
    letter-spacing: -1px;
    color: #ccc;
  }
  
  .profile-menu-container .items {
    position: absolute;
    display: none;
    background: url('images/profile-menu-dropdown-background.png') left -24px repeat-x #135785;
    padding: 16px 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 2000;
  }
  
  .profile-menu-container .dropdown-icon {
    background: url('images/profile-menu-dropdown-icon.png') no-repeat #135785;
    width: 22px;
    height: 24px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .profile-menu-container.opened {
    border-bottom-right-radius: 0px;
  }

  .profile-menu-container .logout {
    padding: 3px 10px 3px 5px;
    color: #eee;
  }




/* search box: BEGIN */

  .searchBox {
  }
  
  .search-box .dropdown {
    display: block;
    position: absolute;
    margin-top: 29px;
    margin-left: 6px;
    font-size: 0.8em;
    color: #222;
    padding: 7px 5px;
    z-index: 1000;
    border-bottom: 1px solid #888;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);
    background: #ccc;
    text-shadow: 0px 1px 0px #eee;
    border-radius: 5px;
    
  }
  
  .search-box .search-in {
    display: block;
    font-weight: bold;
    margin: 4px;
    text-align: left;
    padding-left: 10px;
  }
  
  .search-box div {
    display: block;
  }
  
  .search-box .item.all {
    margin-bottom: 5px;
  }
  
  .search-box .item {
    border: 1px solid transparent;
    padding: 0px 10px;
}
  
  .search-box .item:hover {
    border: 1px inset #999 !important;
  }

  .search-box input[type=checkbox] {
    clear: both;
    margin-right: 8px;
    vertical-align: -8%;
    float: left;
  }
  
  #views-exposed-form-Arts-default .hierarchical-select .form-select {
  }
  
  #views-exposed-form-Arts-default  .search-box label {
    padding: 0;
    margin: 0;
    width: 120px;
    display: block;
    float: left;
  }


  #views-exposed-form-Arts-default  .views-exposed-widget,
  #views-exposed-form-Arts-default  .views-exposed-widget .selects,
  #views-exposed-form-Arts-default .views-exposed-widget select,
  #views-exposed-form-Arts-default .views-exposed-widget input[type=text] {
    width: 100% !important;
  }


/* search box: END */


  .view-image-block .imagefield {
    padding: 2px;
    border: 1px solid #ddd;
    margin: 3px;
    display: inline-block;
  }
  
  .view-image-block .imagefield:hover {
    border: 1px solid #888;
    background-color: #fff;
    padding: 3px;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);
  }
  
  .arts-filters {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    font-family: Century Gothic, Palatino Linotype, Helvetica, Arial;
  }
  
  .arts-filters .preface {
    font-size: 0.9em;
    font-weight: bold;
    color: #444;
  }
  
  .arts-filters .image {
  	width: 200px;
  }
  
  .arts-filters a.filter {
    font-size: 1.2em;
    margin: 4px 10px;
  }
  
  .arts-filters a.filter:hover {
    text-decoration: underline;
  }
  
  .arts-filters a.filter.active {
    font-weight: bold;
  }
  
  .arts-rows {
    margin-top: 10px;
  }
  
  .arts-row {
    padding: 2px;
    border: 1px solid #ddd;
    float: left;
    margin: 6px;
    
  }
  
  .arts-row:hover {
    border: 1px solid #888;
    background-color: #fff;
    padding: 6px;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);
  }
  
  .arts-row .details {
    margin-top: -34px;
    height: 34px;
    background-color: rgba(255,255,255,0.7);
    font-size: 0.7em;
    display: inline-block;
    width: 100%;
  }
  
  .arts-row .details table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }
  
  .arts-row .details td {
    vertical-align: middle;
  }
  
  .arts-row a {
    border: 0px !important;
    color: #05a !important;
  }
  
  .arts-row a:hover {
    text-decoration: underline;
  }
  
  .arts-row .details td.title,
  .arts-row .details td.original-price {
    padding-left: 5px;
    border: 0px !important;
  }
  
  .arts-row .details td.price {
    text-align: right;
    padding-right: 5px;
  }
  
  .arts-rows .clear {
    clear: both;
  } 
  



/* #toolbar: BEGIN */

  #toolbar-area {
    border-top: 1px solid #ddd;
    height: 67px;
  }
  
  #toolbar {
    width: 100%;
    background: url('images/toolbar-background.png') repeat-x top left #215c80;
    height: 67px;
    clear: both;
  }
  
  #toolbar.stick {
    position: fixed;
    top: 0px;
    z-index: 50;
    box-shadow: 0 2px 4px #000;
}
  
  #quickbar {
    left: 450px;
    overflow: hidden;
    background: url('images/toolbar-background.png') repeat-x top left #215c80 !important; 
  }
  
  #quickbar.stick {
    top: 0px;
    background-color: #215c80;
    position: fixed;
  }
  
  div#quickbar div.shadow {
    background: none;
    display: none;
  }
  
  div#quickbar {
    background: none;
    position: absolute;
    top: 93px;
}
  
  #quickbar span.icon {
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    display: inline-block !important;
  }
  
  #quickbar .path-online span.icon {
    background-image: url('images/toolbar-icons/online.png') !important;
  }

  /* @TODO: Temporary link just show other icons in the toolbar */
  #quickbar .path-manage-items span.icon {
    background-image: url('images/toolbar-icons/news.png') !important;
  }
  
  /* @TODO: Temporary link just show other icons in the toolbar */
  #quickbar .path-manage-arts span.icon {
    background-image: url('images/toolbar-icons/chat.png') !important;
  }

  #quickbar .path-user span.icon {
    background-image: url('images/toolbar-icons/account.png') !important;
  }

  #quickbar .path-messages span.icon {
    background-image: url('images/toolbar-icons/message.png') !important;
  }

  #quickbar .path-workspace-me span.icon {
    background-image: url('images/toolbar-icons/manage.png') !important;
  }

  #quickbar .path-calendar span.icon {
    background-image: url('images/toolbar-icons/calendar.png') !important;
  }
  
  #quickbar .path-market span.icon {
    background-image: url('images/toolbar-icons/marketplace.png') !important;
  }

  div#quickbar div.depth-0 .icon {
    display: block;
    width: 68px;
    height: 30px;
    margin: 0 auto;
  }
  
  div#quickbar div.depth-0 ul.links li {
    text-align: center;
    padding: 9px 0 0 0;
  }
    
  div#quickbar div.depth-0 ul.links li a,
  div#quickbar div.depth-0 ul.links li a.active
   {
    border-radius: 0px;
    margin: 0;
    width: 68px;
    height: 66px;
    text-align: center;
  }
  
  div#quickbar div.depth-0 ul.links li:hover {
    background: url('images/toolbar-tool-hover.png') no-repeat top left !important;
  }
  
  div#quickbar div.depth-0 ul.links li:active,
  div#quickbar div.depth-0 ul.links li.active {
    background: url('images/toolbar-tool-click.png') no-repeat top left !important;
  }
  
  div#quickbar div.depth-0 ul.links li.active a
  {
    width: 68px;
    margin: 0;
    background: none;
    display: inline-block;
  }
  
  div#quickbar div.depth-0 {
    height: 66px;
    padding: 0px;
  }
    

  #toolbar .breadcrumb-container {
    empty-cell: show;
    margin: auto 0 auto 34px;
    text-align: left;
    vertical-align: middle;
  }
  
  #toolbar .breadcrumb {
    text-align: left;
    padding: 12px 10px;
    color: #fff;
    font-size: 0.8em;
  }
  
  #toolbar .breadcrumb a {
    color: #ddd;
  }
  
  #toolbar .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  #toolbar #tools {
    height: 25px;
  }

/* #toolbar: END */

  .profile-statistics {
    width: 100%;
    font-size: 1.2em;
    font-family: Century Gothic,Palatino Linotype,Helvetica,Arial;
  }
    
  .pane-content .block .title h3 {
    padding: 0 !important;
  }

  .profile-statistics td
  {
    padding: 4px;
  }

  .user-arts-slideshow td {
  	vertical-align: top;
  }
  
  .user-arts-slideshow {
  	display: none;
  }
  
  #user-arts-slideshow-container .user-arts-slideshow {
  	display: table !important;
  }
  
  #user-arts-slideshow-container .small-area {
  	
  }
  
  #user-arts-slideshow-container img,
  div.field.field-type-filefield.field-field-image div.field-item img {
  	cursor: pointer;
    padding: 0px;
    margin: 8px;
    display: inline-block;
  	border: 0px;
  }
  
  #user-arts-slideshow-container .teaser {
    padding-top: 10px;
  }
  
  #user-arts-slideshow-container .teaser > p {
  	padding: 2px 5px;
  }
  
  #user-arts-slideshow-container .big-area {
  	padding: 0px 11px 0px 0px;
  	border-right: 1px dotted #888;
  }
  
  #user-arts-slideshow-container .big-area img,
  #user-arts-slideshow-container img:hover,
  div.field.field-type-filefield.field-field-image div.field-item img,
  #field_image_values img {
    border: 1px solid #888;
    background-color: #fff;
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.8);
  }
  
  div.field.field-type-filefield.field-field-image div.field-item img {
    background-color: #ddd;
  }
  
  div.field.field-type-filefield.field-field-image div.field-item img:hover {
    background-color: #fff;
  }
  
	.user-arts-slideshow {
		width: 100%;
	}
	
	.user-arts-slideshow .big-area-container {
		width: 210px;
	}
	
	.user-arts-slideshow .small-area td {
    padding-left: 5px;
  }
	
	.user-arts-slideshow .small-area {
		height: 87px;
	}
	
	.user-arts-slideshow .small-area img {
		height: 200px;
	}
	
	.user-arts-slideshow .teaser-area {
		height: 80px;
	}
	
	.user-arts-slideshow .big-area img {
		height: 200px;
	}
	
	.user-arts-slideshow .day-count {
		text-align: right;
	}
	
	.user-arts-slideshow .count {
		font-weight: bold;
	}
	
  .user-arts-slideshow .small-area .big,
  .user-arts-slideshow .big-area  .normal {
    display: none;
  }

	.user-arts-slideshow-smalls {
		height: 209px;
		width: 100%;
	}
	
  .user-arts-slideshow-smalls td {
  	vertical-align: top;
  }
  
  div.field.field-type-filefield.field-field-image div.field-item {
    display: inline;
  } 
  
  
  .filefield-element .widget-preview {
    margin: 0 47px 0 0;
    border: 0 !important;
  }
  
  #field_image_values {
    border-collapse: collapse;
    width: 500px;
  }
  
  #field_image_values tbody tr {
    border: 1px inset;
    border-color: #fff #aaa #aaa #fff;
  }
  
  #field_image_values tbody tr td {
    background: #e3e7eb url('images/filefield-item-background.png') repeat-x;
  }
  
  
  
  .author-pane {
  	font-size: 0.9em;
  }
  
  .author-pane .author-pane-line {
  	font-size: 0.8em;
  	padding: 5px;
  	padding-left: 8px;
  }
  
  .pane-author-pane .pane-title {
    display: none;
  }
  
  .pane-author-pane .pane-content {
    background-color: #eee;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 6px;
  }
  
  .panel-pane.pane-node-comment-form {
    background-color: #eee;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 6px;
  }
  
  .author-pane .author-pane-line.author-online,
  .author-pane .author-pane-line.author-offline {
  	padding-left: 29px;
  	font-weight: bold;
  	background-position: 8px 7px;
    background-color: #cCfEdF;
    border-radius: 7px;
    border: 1px solid #fff;
    width: auto;
    padding-top: 8px;
  }
  
  .author-pane .author-privatemsg,
  .author-pane .author-contact {
  	background-position: 8px 4px;
  }
  
  .author-pane .last-seen span {
  	font-weight: bold;
  }
  
  .author-pane .last-seen {
  	font-size: 0.65em;
  }
  
  .author-pane .author-privatemsg a,
  .author-pane .author-pane-ur-link-item a,
  .author-pane .author-pane-contact a {
  	padding-left: 30px;
  	vertical-align: middle;
  }
  
  
  .author-pane .author-pane-line.author-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  
  .author-pane .author-pane-line.author-location {
  	padding: 8px;
  	background-color: #dceeff;
  	border-radius: 7px;
  	border: 1px solid #fff;
  }
  
  .author-pane .author-joined span {
    font-weight: bold;
  }
  
  .author-pane .author-joined {
    font-size: 0.7em;
    padding-top: 0px;
  }
  
  .author-pane .location-locations-header {
  	font-size: 1.3em;
  	font-weight: 600;
  	margin-bottom: 8px;
  	display: none;
  }
  
  .author-pane .geo {
  	font-size: 0.75em;
  }
  
  .pane-content input[type=text],
  .pane-content textarea {
    border: 1px inset #aaa;
    padding: 4px;
  }
  
  
 /*
  Adding comments
 */
 
  .panel-pane.pane-node-comment-form {
    font-size: 0.8em;
    margin-top: 15px;
    padding: 10px;
  }
  
  
  
  .panel-pane.pane-node-comments {
    font-size: 0.8em;
    margin-top: 15px;
    padding: 10px;
  }
  
  .panel-pane.pane-node-comments h2 {
    margin-bottom: 8px;
  }
  
  .comment {
    border: 0px;
    padding: 5px;
    background-color: #e3e3e3;
    border-radius: 6px;
  }
  
  #comment-form #edit-subject-wrapper {
    display: none;
  }
  
  .comment .title {
    display: none;
  }
  
  .comment .links {
    text-align: right;
    padding: 6px;
  }
  
  .comment p {
    text-indent: 0;
    padding: 4px 8px 0px 8px;
  }
  
  .comment .links ul {
    border-top: 1px dotted #aaa;
  display: inline;
  }
  
  .submitted {
    border-bottom: 1px dotted #aaa;
    color: #000;
  }
  
  .submitted a {
    font-weight: bold;
  }
  
  td.active {
    background-color: #e5eeff;
  }
	

#views-exposed-form-Arts-default .bef-sortorder {
  display: none;
}

#views-exposed-form-Arts-default .form-radios  {
  text-align: left;
  margin-left: 30px;
}