body.admin-menu {
  margin-top: 0px !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0; 
  background: #164362;
  font-family: Verdana;
  
}

table {
  border-collapse: separate;
}

#page {
  min-width: 1200px;
  min-height: 100%;
  height: 100%;
  color: #343331;
  text-align: center;
  background: #F0F5F9;  
}
p, td, li, ul, ol {
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, "Trebuchet MS", sans-serif;
  margin: 0;
}
h1 {
  color: #333;
  font-size: 18px;
  font-weight: normal;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
a:link {
  text-decoration: none;
  color: #2b5676;
}
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #2b5676;
}
a:hover, a:active {
  color: #2b5676;
}

/* Aligning field paragraph left, because it is defaulty justified and justification makes problem when urls are long. (#266) */
td.views-field-teaser > div > p {
  text-align: left;
}

/* Right margin for the extlink's icon. It makes some space between url and following text. (#266) */
span.ext {
  margin-right: 5px;
}

/* Resloving problem with too-wide text/urls in the fields. (#266) */
td.views-field-teaser > div > p > a {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  display: inline-block;
}

fieldset {
  border: 1px solid #ccc;
}
p {
  margin: 0 0 1.3em 0;
  padding: 10px;
  color: #333;
  text-align: justify;
  text-indent:10px;
  line-height: 120%;
  font-family: Verdana;
  font-size: 12px;
}
blockquote {
  border-left: 4px solid #69c;  /* LTR */
  padding: 0 15px;
  margin: 25px 100px 25px 50px; /* LTR */
  color: #696969;
  text-align: left; /* LTR */
  font-size: 1.2em;
  line-height: 1.3em;
  font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 1.2em;
  border: 1px solid #ddd;
}
.form-item {
  margin-top: 1em;
}

#search .form-item label {
  display:none;
  color: #000;
}
.item-list .title {
  color: #369;
  font-size: 0.85em;
}

/*
** Page layout blocks / IDs
*/
#banner {
  width: 100%;
  height: 92px;
  background: url('images/gora.jpg') center top repeat-x;
  text-align: center;
  border-collapse: separate;
}

#primary-menu {
  border-collapse: separate;
  margin: auto;
  font-family: Verdana;
  background: transparent url('images/banner.jpg') top center no-repeat;
  background-color: transparent;
  height: 92px;
  width: 1200px;
  text-align: left;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, "Trebuchet MS", sans-serif;
  border: none; 
}

#search-theme-form {
  float: left;
}

td#home a:hover img, td#home a:link img, td#home a:visited img {
  width: 250px;
  height: 50px;
  padding: 20px 10px 20px 80px;
}
.primary-links, .primary-links a:link, .primary-links a:visited {
  margin-top: 20px;
  color: #fefffa;
  padding: 5px;
}
.primary-links a:hover {
  color: #fdfdfd;
  background: #1d6b9b;
  border-radius: 5px;
  padding: 5px;
}

#primary-menu .primary-links {
  font-size: 16px;
  float: left;
 
}

#primary-menu p {
  color: #fdfdfd;
  padding: 9px 5px 0px 10px;
  margin-top: 10px;
  font-family:  "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,"Trebuchet MS",sans-serif;
  font-size: 14px; 
}

#primary-menu p a:link, #primary-menu p a:visited {
  padding: 4px 8px;
  color: #fdfdfd;
}

#primary-menu p a:hover {
  color: #fdfdfd;
  padding: 4px 8px;
}
  
#primary-menu .primary-links h1, #primary-menu .primary-links h2, #primary-menu .primary-links h3 {
  font-size: 2.3em;
  color: #369;
}

#home {
  background: transparent url('images/mlogo.png') center no-repeat;
}
.secondary-links, .secondary-links a:link, .secondary-links a:visited {
  color: #fefffa;
  padding: 4px;
  text-align: left;
}

.thirdly-links, .thirdly-links a:link, .thirdly-links a:visited {
  color: #fefffa;
  padding: 4px;
  text-align: left;
}

.secondary-links a:hover {
  background: #1d6b9b;
  border-radius: 5px;
  color: #fdfdfd;
  padding: 4px;
}

.thirdly-links a:hover {
  background: #1d6b9b;
  border-radius: 5px;
  color: #fdfdfd;
  padding: 4px;
}

#secondary-menu .secondary-links {
  font-size: 0.85em;
}
ul.links li {
  border-left: 1px solid #ff8c00; /* LTR */
}
#navlist li {
  border-left: 1px solid #2e4d59; /* LTR */
}
#subnavlist li, ul.primary-links li, ul.secondary-links li {
  border-left: 1px solid #2e4d59; /* LTR */
}
#navlist li.first, #subnavlist li.first, ul.links li.first {
  border: none;
}
.tabs {
  margin: 15px 0;
}
.tabs ul.primary {
  border-collapse: collapse;
  padding: 0 0 3px 10px; /* LTR */
  white-space: nowrap;
  list-style: none;
  margin: 0;
  height: auto;
  line-height: normal;
  border-bottom: 2px solid #369;
}
.tabs ul.primary li {
  display: inline;
}
.tabs ul.primary li a {
  padding: 3px 10px;
  background: #fff url(tabs-off.png) left top no-repeat; /* LTR */
  border-color: #69C;
  border-width: 2px;
  border-style: none solid none none; /* LTR */
  height: auto;
  margin-right: 10px; /* LTR */
  text-decoration: none;
  text-transform: lowercase;
}
.tabs ul.primary li.active a {
  background: #369 url(tabs-on.png) left top no-repeat; /* LTR */
  border-right: 2px solid #369; /* LTR */
  color: #fff;
}
.tabs ul.primary li a:hover {
  background-color: #fffaf0;
  color: #ff4500;
}
.tabs ul.secondary {
  border-collapse: collapse;
  padding: 10px 0;
  margin: 0;
  white-space: nowrap;
  width: 100%;
  list-style: none;
  height: auto;
  line-height: normal;
  border-bottom: none;
}
.tabs ul.secondary li {
  display: inline;
  height: auto;
  padding: 0 0 0 10px; /* LTR */
  text-decoration: none;
  border-right: none; /* LTR */
}
.tabs ul.secondary li a {
  background: #fff url(tabs-option-off.png) left center no-repeat; /* LTR */
  padding: 10px 0 10px 25px; /* LTR */
  margin: 0;
}
.tabs ul.secondary li a.active {
  background: #fff url(tabs-option-on.png) left center no-repeat; /* LTR */
  color: #369;
  border-bottom: none;
}
.tabs ul.secondary li a:hover {
  background: #fff url(tabs-option-hover.png) left center no-repeat; /* LTR */
  color: #FF4500;
}
#content {
  background-color: #f0f5f9;
}
#contentstart {
  background-color: #f0f5f9;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right; /* LTR */
  vertical-align: middle;
}
#search .form-text {
  font-size: 0.85em;
  margin: 0.4em;
  color: #333;
  background-color: #fdfdfd;
  float: left;
 }
 
#search .form-submit {
  display: block;
  float: left;
  width: 41px;
  height: 27px;
  margin: 0.2em;
  background: transparent url('go.png') center center no-repeat;
  border: none;
}

#search .form-text {
  width: 9em;
}

#site-info {
  max-width: 10px;
  color: #fdfdfd;
  background: #fff;
  font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
}
.site-name {
  font-size: 1.2em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #ff8c00;
  text-decoration: none;
}
.site-slogan {
  font-size: 0.8em;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 30px 35px 50px 35px;
  position: relative;
  text-align: left;
}
#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
.nav {
  padding: 0;
  margin: 0;
}
#sidebar-left, #sidebar-right {
  font-size: 0.75em;
  font-family: Verdana;
  width: 175px;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 25px 10px 75px 10px;
  vertical-align: top;
  border-collapse: separate;
}

#sidebar-left li, #sidebar-right li {
  font-size: 1em;
  list-style-image: url('arrow-next.png');
}
.node .content {
  text-align: left; /* LTR */
  font-size: 0.85em;
  line-height: 1.3;
}
.comment .content {
  text-align: left; /* LTR */
  font-size: 0.85em;
  line-height: 1.3;
}
#footer-message {
  font-size: 0.75em;
  text-align: left;
  color: #fefffa;
  margin-left: 40px;
}
#footer-menu {
  margin-top: 20px;
  border-collapse: separate;
}
#footer-menu td {
  padding: 5px;
  font-size: 0.75em;
}

#footer-menu .primary-links h1, #footer-menu .primary-links h2, #footer-menu .primary-links h3 {
  font-size: 1.3em;
  color: #fdfdfd;
}

#footer-menu .primary-links h1, #footer-menu .primary-links h2, #footer-menu .primary-links h3 {
  font-size: 1.3em;
  color: #fdfdfd;
} 

.wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto 0;
  margin-bottom: -93px;
}

#footer,
.push {
  margin-bottom: -80px;
  clear: both;
}

#footer {
  width: 100%;
}

#footer table {
  margin: 0px auto 0 auto;
  border: 0px; border: none; border-collapse: separate;
}
#footer_container {
  background: url('images/footer2.jpg') no-repeat top center;
  padding: 40px 0 16px 0;
}

#footer {
  background: #164362 url('images/footer.jpg') repeat-x top;
  border: none;
  border-collapse: separate;
  margin: auto;
}

#footer .content {
  padding: 0px;
  margin: 4px 0px 0px 0px;
}

#footer #copyright {
  padding-top: 8px;
  color: #ddd;
}

#footer .block {
  margin-bottom: 0;
}

#footer .content a {
  color: #fff;
}
#footer .title {
  display: none;
}

#footer ul {
  padding: 0;
}

#footer li {
  text-align: left;
  float: left;
  list-style: disc;
  margin: 5px 5px 5px 15px;
  
}

footer-menu-list {
	
}

#flogo {
  /* Removed. (#253) */
  vertical-align: bottom;
  padding-bottom: 32px;
}

#main .block .title h3 {
 text-transform: none;
}

#footer-menu-list .block .title {
 display: none;
}

#footer-menu-list a:link, #footer-menu-list a:visited, #footer-menu-list a:active{
  font-size: 13px;
  font-family: Arial, "Trebuchet MS", sans-serif;
  text-align: left;
  color: #fefffa;
  padding: 4px;
}

#footer-menu-list a:hover {
  color: #fdfdfd;
  background: #1d6b9b;
  border-radius: 5px;
  padding: 4px;
}

li.leaf {
  list-style-type: disc;
  list-style-image: none;
  color: #fdfdfd;
}
/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
#content .title, #content .title a, #content .title a:hover, #content .title a:visited,
 #content .title a:link, #content .title a:active {
  color: #333;
  border-bottom: 1px solid #b3b3b3;
}

.content h1 {
  color: #369;
  font-size: 1.9em;
}
.content h2 {
  color: #ab1017;
  font-size: 1.7em;
}
.content h3 {
  color: #333;
  font-weight: bold;
}
.content h4 {
  color: #8be;
  font-size: 1.3em;
}
.content h5 {
  color: #96c6f6;
  font-size: 1.15em;
}
.submitted {
  color: #999;
  font-size: 0.79em;
}
div.links {
  color: #ff8c00;
}

.box {
  padding: 0 0 1.5em 0;
}
.box {
  padding: 0;
  margin: 0;
}
.box h2 {
  font-size: 9px;
}
.block .title h3 {
  color: #666465;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 10px 5px 10px 30px; /* LTR */
  margin-bottom: .25em;
  text-transform: uppercase;
}
.block .content {
  padding: 5px;
  font-size: 12px;
}
.block {
  margin-bottom: 1.5em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2.5em 0;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.83em;
  padding: 1.5em;
}
.node .picture {
  border: 1px solid #fff;
  float: right; /* LTR */
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title {
  font-size: 1em;
  padding: 10px 0 12px 19px; /* LTR */
  background: transparent url(icon-comment.png) left center no-repeat; /* LTR */
}
.comment .new {
  font-weight: bold;
  font-size: 1em;
  margin-left: 2px; /* LTR */
  color: red;
}
.comment .picture {
  border: 1px solid #fff;
  float: right; /* LTR */
  margin: 10px;
}
div.links {
  font-size: 0.75em;
}
div.links .prev, div.links .next, div.links .up {
  font-size: 1.15em;
}
.titles .prev, .titles .next {
  font-size: 0.85em;
  font-weight: bold;
  color: #444;
}
.hide {
  display: none
}
.nav .links .next a:link {
  padding: 17px 17px 17px 0; /* LTR */
  background: transparent url(arrow-next.png) right center no-repeat; /* LTR */
}
.nav .links .next a:visited {
  padding: 17px 17px 17px 0; /* LTR */
  background: transparent url(arrow-next-visited.png) right center no-repeat; /* LTR */
}
.nav .links .next a:hover {
  padding: 17px 17px 17px 0; /* LTR */
  background: transparent url(arrow-next-hover.png) right center no-repeat; /* LTR */
}
.nav .links .prev a:link {
  padding: 17px 0 17px 17px; /* LTR */
  background: transparent url(arrow-prev.png) left center no-repeat; /* LTR */
}
.nav .links .prev a:visited {
  padding: 17px 0 17px 17px; /* LTR */
  background: transparent url(arrow-prev-visited.png) left center no-repeat; /* LTR */
}
.nav .links .prev a:hover {
  padding: 17px 0 17px 17px; /* LTR */
  background: transparent url(arrow-prev-hover.png) left center no-repeat; /* LTR */
}
.nav .links .up a:link {
  padding: 11px 0 17px 0;
  background: transparent url(arrow-up.png) center top no-repeat;
}
.nav .links .up a:visited {
  padding: 11px 0 17px 0;
  background: transparent url(arrow-up-visited.png) center top no-repeat;
}
.nav .links .up a:hover {
  padding: 11px 0 17px 0;
  background: transparent url(arrow-up-hover.png) center top no-repeat;
}

/*
** Administration page styles
*/
div.admin-panel .description {
  color: #999;
}
div.admin-panel h3 {
  background-color: #369;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}
div.admin-panel .body {
  background: #f0f5f9;
}

/*
** Module specific styles
*/
.content {
  font-size: 12px;
  font-family: Verdana;
}
.content .active {
  color: #369;
}
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .source {
  color: #999;
  font-style: italic;
  font-size: 0.85em;
}
#aggregator .title {
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#tracker th {
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd; /* LTR */
  border-left: 1px solid #fafafa; /* LTR */
}
#tracker th img {
  float: right; /* LTR */
}
#tracker tr.even, #tracker tr.odd {
  background-color: #fff;
}
#tracker td {
  vertical-align: top;
  padding: 1em 1em 1em 0; /* LTR */
  border-bottom: 1px solid #bbb;
}

.block-forum h3 {
  margin-bottom: .5em;
}

.view-content .calendar-calendar .date-prev, .view-content .calendar-calendar .date-next  {
	background: none;
}

.calendar-calendar tr,
.calendar-calendar td.empty,
.calendar-calendar table.mini td.empty {
	background: none;
}


.calendar-calendar .month-view .full td.single-day .calendar-empty,
.calendar-calendar .month-view .full td.single-day.empty,
.calendar-calendar .month-view .full td.date-box.empty {
  background-color: #ede9e2;	
}


.view-content .calendar-calendar .date-prev a, .view-content .calendar-calendar .date-next a {
    color: #ab1017;
    font-size: 13px;
    font-weight: bold;
}

.calendar-calendar div.date-nav a, .calendar-calendar div.date-nav h3 {
    color: #2b5676;
    text-decoration: none;
    font-size: 0.85em;
    text-transform: uppercase;
}

.author-user-flag {
  padding-left: 1.63em;
}

/* #forum: BEGIN */

  #forum {
    font-family: Century Gothic, Palatino Linotype, Helvetica, Arial;
  }
  
  #forum table {
    width: 100%;
    margin: 20px 0 15px 0;
    color: #3a6c87;
    border-collapse: separate;
  }
  
  #forum th {
    color: #555;
    border-bottom: 1px solid #aaa; 
  }
  
  #forum th,
  #forum td {
    padding: 6px 8px;
  }


  #forum tr.index-0 td {
    padding: 12px 8px 4px 8px;
  }
  
  #forum td {
    vertical-align: top;
    height: 40px;
  }
  
  #forum table tr td {
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
  }
  
  #forum td a {
    border-bottom: none !important;
  }
  
  #forum .links {
    margin-top: 15px;
  }
  
  #forum .links a {
    border: 2px solid #336699;
    border-radius: 7px 7px 7px 7px;
    font-size: 0.95em;
    font-weight: bold;
    padding: 5px 12px;
  }
  
  #forum .links a:hover {
    background: #336699;
    color: #fff;
    font-weight: normal;

  }

  #forum tr.index-0 td {
    height: 48px;
  }
  
  #forum td.forum .name a,
  #forum td.container .name a {
    padding: 2px 5px;
    border-radius: 5px;
    margin-top: 2px;
  }
  
  #forum div.description {
    font-size: 0.7em;
    margin: 0px 0px 0px 10px;
    color: #333;
    font-style: italic;
  }
  
  #forum table tr:hover td {
    border-top: 1px dotted #ccc !important;
    border-bottom: 1px dotted #ccc !important;
    background-color: rgba(0, 0, 255, 0.05) !important;
  }
  

  #forum td.forum .name a:hover  {
    background-color: #3a6c87 !important;
    color: #fff !important;
    text-shadow: 1px 0px 1px #258; 
  }
  
  #forum td.container .name a:hover  {
    background-color: #888 !important;
    color: #fff !important;
    text-shadow: 1px 1px 1px #444; 
  }
  
  #forum tr.even,
  #forum tr.odd {
    background: none;
    border: none;
  }
  
  #forum thead .th-topics,
  #forum thead .th-posts {
    text-align: center;
  }
  
  #forum td.last-reply,
  #forum td.created {
    font-size: 0.8em !important;
    width: 180px;
  }
  
  #forum td.created {
    width: 200px;
  }
  
  #forum thead .th-topics,
  #forum thead .th-posts,
  #forum td.replies {
    width: 100px;
  }

  #forum td.last-reply a {
    font-weight: bold;
  }
  
  #forum td.forum,
  #forum td.container {
    font-size: 1.1em;
    padding-left: 8px !important;
  }
  
  #forum td.container {
    height: auto !important;
  }
  
  #forum td.container a {
    color: #000 !important;
    
  }
  
  #forum tr td.forum {
    background: none;
  }
  
  /* Topic list */
  
  #forum td.icon,
  #forum .forum-topics thead th:first-child {
    display: none;
  }
  
  #forum .forum-topics thead th:nth-child(3) {
    text-align: center;
  }
  

/* #forum: END */



/* #toolbar: BEGIN */

  #toolbar-area {
    border-top: 1px solid #ddd;
  }
  
  #toolbar {
    width: 100%;
    background: url('images/toolbar-background.png') repeat-x top left #215c80;
    height: 67px;
    clear: both;
  }
  
  #quickbar {
    top: 170px;
    left: 450px;
    overflow: hidden;
    background: url('images/toolbar-background.png') repeat-x top left #215c80 !important;
  }
  
  #quickbar.stick {
    top: 0px;
    background-color: #215c80;
    position: fixed;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    box-shadow: 0px 2px 4px #000;
    border-bottom: 1px solid #8ad;
  }
  
  div#quickbar div.shadow {
    background: none;
    display: none;
  }
  
  div#quickbar {
    background: none;
    position: absolute;
    top: 94px;
  }
  
  #quickbar span.icon {
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    display: inline-block !important;
  }
  
  /* @TODO: Temporary link just show other icons in the toolbar */
  #quickbar .path-manage-events span.icon {
    background-image: url('images/toolbar-icons/online.png') !important;
  }

  /* @TODO: Temporary link just show other icons in the toolbar */
  #quickbar .path-manage-items span.icon {
    background-image: url('images/toolbar-icons/news.png') !important;
  }
  
  /* @TODO: Temporary link just show other icons in the toolbar */
  #quickbar .path-manage-arts span.icon {
    background-image: url('images/toolbar-icons/chat.png') !important;
  }


  #quickbar .path-user span.icon {
    background-image: url('images/toolbar-icons/account.png') !important;
  }

  #quickbar .path-messages span.icon {
    background-image: url('images/toolbar-icons/message.png') !important;
  }

  #quickbar .path-node-add span.icon {
    background-image: url('images/toolbar-icons/add_content.png') !important;
  }

  #quickbar .path-calendar span.icon {
    background-image: url('images/toolbar-icons/calendar.png') !important;
  }
  
  #quickbar .path-marketplace span.icon {
    background-image: url('images/toolbar-icons/marketplace.png') !important;
  }

  div#quickbar div.depth-0 .icon {
    display: block;
    width: 68px;
    height: 30px;
    margin: 0 auto;
  }
  
  div#quickbar div.depth-0 ul.links li {
    text-align: center;
    padding: 9px 0 0 0;
  }
    
  div#quickbar div.depth-0 ul.links li a,
  div#quickbar div.depth-0 ul.links li a.active
   {
    border-radius: 0px;
    margin: 0;
    width: 68px;
    height: 66px;
    text-align: center;
  }
  
  div#quickbar div.depth-0 ul.links li:hover {
    background: url('images/toolbar-tool-hover.png') no-repeat top left !important;
  }
  
  div#quickbar div.depth-0 ul.links li:active,
  div#quickbar div.depth-0 ul.links li.active {
    background: url('images/toolbar-tool-click.png') no-repeat top left !important;
  }
  
  div#quickbar div.depth-0 ul.links li.active a
  {
    width: 68px;
    margin: 0;
    background: none;
    display: inline-block;
  }
  
  div#quickbar div.depth-0 {
    height: 66px;
    padding: 0px;
  }
    

  #toolbar .breadcrumb-container {
    empty-cell: show;
    margin: auto 0 auto 34px;
    text-align: left;
    vertical-align: middle;
  }
  
  #toolbar .breadcrumb {
    text-align: left;
    padding: 12px 10px;
    color: #fff;
    font-size: 0.8em;
  }
  
  #toolbar .breadcrumb a {
    color: #ddd;
  }
  
  #toolbar .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  #toolbar #tools {
    height: 25px;
  }

/* #toolbar: END */


